.table-handbook {
  display: flex;
  flex-direction: column;
  position: relative;
}
.table-handbook__header {
  display: flex;
  font-family: '18vag';
  font-weight: normal;
  font-size: 24px;
  user-select: none;
  cursor: default;
}

.header_sort_organization .header-cell_organization::after,
.header_sort_director .header-cell_director::after {
  content: '↓';
  display: block;
  position: relative;
  transform: translateY(-10%);
}

.header_sort_reverse.header_sort_organization .header-cell_organization::after,
.header_sort_reverse.header_sort_director .header-cell_director::after {
  transform: rotate(180deg);
}

.header-cell {
  width: 20%;
  word-break: break-all;
  border: 1px solid black;
  border-right: none;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
}

.header-cell:nth-child(4) {
  width: 30%;
}
.header-cell:nth-child(5) {
  width: 10%;
  border-right: 1px solid black;
}
.table-row_hidden {
  display: none;
}
