<div class="table-handbook">
  <div class="table-handbook__header header" :class="headerClass">
    <div class="header-cell header-cell_organization">Название</div>
    <div class="header-cell header-cell_director">ФИО директора</div>
    <div class="header-cell">Номер телефона</div>
    <div class="header-cell">Адрес</div>
    <div class="header-cell"></div>
  </div>
  <table-row class="table-row_hidden"></table-row>
  <table-row class="table-row_hidden"></table-row>
  <table-row class="table-row_hidden"></table-row>
  <table-row class="table-row_hidden"></table-row>
  <table-row class="table-row_hidden"></table-row>
  <table-row class="table-row_hidden"></table-row>
  <table-row class="table-row_hidden"></table-row>
  <table-row class="table-row_hidden"></table-row>
  <table-row class="table-row_hidden"></table-row>
  <table-row class="table-row_hidden"></table-row>
</div>
