<div class="blackout">
  <div class="organization-form">
    <div class="organization-form__heading"></div>
    <div class="organization-form__field">
      <div class="organization-form__field-label">Название:</div>
      <input-field
        id="organization"
        class="organization-form__input-field organization-form__input-field_organization"
        placeholder='ООО "Организация"'
        type="text"
      ></input-field>
    </div>

    <div class="organization-form__field">
      <div class="organization-form__field-label">ФИО директора:</div>
      <input-field
        id="director"
        class="organization-form__input-field organization-form__input-field_director"
        placeholder="Сидоров А.А"
        type="text"
      ></input-field>
    </div>

    <div class="organization-form__field">
      <div class="organization-form__field-label">Номер телефона:</div>
      <input-field
        id="phone"
        class="organization-form__input-field organization-form__input-field_phone"
        placeholder="+7-222-333-54-38"
        type="phone"
      ></input-field>
    </div>

    <div class="organization-form__field">
      <div class="organization-form__field-label">Город:</div>
      <input-field
        id="city"
        class="organization-form__input-field organization-form__input-field_city"
        placeholder="Москва"
        type="text"
      ></input-field>
    </div>

    <div class="organization-form__field">
      <div class="organization-form__field-label">Улица:</div>
      <input-field
        id="street"
        class="organization-form__input-field organization-form__input-field_street"
        placeholder="Грибоедова"
        type="text"
      ></input-field>
    </div>

    <div class="organization-form__field">
      <div class="organization-form__field-label">Дом:</div>
      <input-field
        id="house"
        class="organization-form__input-field organization-form__input-field_house"
        placeholder="10"
        type="number"
      ></input-field>
    </div>
    <div class="organization-form__buttons">
      <action-button
        class="organization-form__close-button"
        text="Отмена"
        color="red"
      ></action-button>
      <action-button class="organization-form__confirm-button" text="ОК"></action-button>
    </div>
  </div>
</div>
